@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

@theme {
    --color-ocean: #ccfbf1;
    --color-golden: #fef08a;
    --color-purple: #e9d5ff;
    --font-inter: Inter, sans-serif;
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #1b1b1b;
}



::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Smooth Transition for all interactive elements */
.smooth-transition {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

/* Subtle glow effect for the main card */
.glow-effect {
    box-shadow: 0 0 50px -12px rgba(204, 251, 241, 0.1);
}

.glow-ocean {
    box-shadow: 0 0 50px -12px rgba(204, 251, 241, 0.1);
}

.glow-golden {
    box-shadow: 0 0 50px -12px rgba(254, 240, 138, 0.1);
}

.glow-purple {
    box-shadow: 0 0 50px -12px rgba(233, 213, 255, 0.1);
}



/* Hide number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}